h1.welcome {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 25px;
}

.loginDiv {
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin-bottom: -330px;
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.49);
  padding: 48px 30px 40px;
  background-color: white;
  border: 10px solid #bba6df;
  margin: 0 auto;
}

.login form h2 {
  margin-bottom: 2.6rem;
  color: var(--primary-blue);
}

.formDiv {
  height: 48px;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.formDiv select {
  width: 100%;
  letter-spacing: 1px;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  outline: none;
  padding: 0.7rem 1rem;
  background: none;
  z-index: 1;
  font-size: 1.1rem;
  color: rgb(49, 49, 49);
  color: var(--input-color);
}

.formDiv select option {
  background-color: var(--border-color);
}

.formDiv select option {
  color: rgb(0, 0, 0);
}

.formDiv input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
  font-size: 1.1rem;
}

.formLabel {
  position: absolute;
  left: 1rem;
  top: 0.85rem;
  padding: 0 0.25rem;
  background-color: white;
  color: var(--input-color);
  transition: top 0.2s ease-in, left 0.2s ease-in, font-size 0.2s ease-in;
  font-size: 1.1rem;
  cursor: text;
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  background-color: var(--primary-blue);
  color: white;
  cursor: pointer;
  border-radius: 1.5rem;
  transition: 0.3s;
  font-size: 1rem;
  width: 99%;
  font-weight: 600;
  letter-spacing: 1px;
}
.btn.disabled {
  background-color: var(--border-color);
  cursor: not-allowed;
}

.btn:hover:not(.disabled) {
  box-shadow: 0 7px 26px rgba(0, 0, 0, 0.15);
  background-color: rgb(88, 88, 238);
}

.formInput:focus,
.formDiv select:focus {
  border: 1.5px solid var(--primary-blue);
}

.formInput:focus ~ .formLabel,
.formInput:not(:placeholder-shown):not(:focus) ~ .formLabel {
  top: -0.4rem;
  left: 0.8rem;
  color: var(--primary-blue);
  font-size: 0.8rem;
  font-weight: 600;
  z-index: 2;
}

.errorMsg,
.succesMsg {
  font-size: 0.9rem;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 15px;
}

.errorMsg {
  color: rgb(212, 0, 0);
}

.succesMsg {
  color: rgb(3, 189, 49);
}

.signOut {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.login input::placeholder {
  text-transform: capitalize;
}
.login input {
  text-transform: uppercase;
}

.captchaText {
  font-size: 0.8rem;
  margin-top: 25px;
  color: #8b8a8a;
}
