.home {
  position: relative;
  padding-top: 8px;
}
.teacherListCard {
  padding: 20px 30px 70px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  margin: 0px auto 40px;
  border-top: 9px solid var(--secondary-purple);
  border-radius: 8px 8px 0 0;
  background-color: whitesmoke;
  min-height: 400px;
}

.teacherListWrapper {
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(2, 1fr);
}

.teacherListWrapper .teacherCard {
  padding: 16px 13px;
  background-color: var(--secondary-blue);
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  min-height: 129.8px;
  color: rgb(228, 220, 220);
  box-shadow: var(--light-boxshadow);
  /* transition: all 0.3s ease-in-out; */
  z-index: 7;
  border-left: 12px solid var(--secondary-blue);
  transform: scale(1);
  height: 100%;
}

.teacherListWrapper .teacherCard.done {
  border-color: var(--secondary-blue);
  background-color: #006900;
}

.teacherCard:hover .subcodeName {
  color: #c3d000;
}

.teacherListCard hr {
  border: none;
  height: 1px;
  background-color: royalblue;
  margin: 5px auto 30px;
  width: 100px;
}

.teacherListWrapper .teacherCard div.img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: white;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.teacherCard .right {
  width: 70%;
}

.teacherCard .subcodeName {
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.teacherCard .flexGroup {
  display: flex;
  align-items: center;
  gap: 5px 10px;
  flex-wrap: wrap;
  font-size: 1.2rem;
  margin: 7px 0 5px;
}

.noTeacherData {
  text-align: center;
  font-size: 1.3rem;
  color: rgb(252, 63, 63);
  margin-top: 50px;
}

/* ---MEDIA QUERIES--- */
@media screen and (max-width: 1190px) {
  .teacherListWrapper {
    grid-template-columns: 1fr;
  }
}
